<header role='banner' class="site-head_digitus wrapper_digitus">
    {{#if @blog.logo}}
        <a class="logo_digitus" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{/if}}
    <h1 class="blogtitle_digitus">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            {{{@blog.title}}}
        </a>
    </h1>
    <p class="blogdescription_digitus">
        {{@blog.description}}
    </p>	
</header>
