Hi,

<br><br>
Just writing to let you know that the price of the product
<b><%= product.productName %></b> has changed to <b>Rs.<%= product.currentPrice %>/-</b>

<br><br>
You can view or buy the product on <%= product.seller %> by
<a href="<%= product.selfProductRedirectURL %>">clicking here</a>.

<br><br><br>
Had enough? Stop tracking this product by
<a href="<%= product.productUnsubscribeLink %>">clicking here</a>.
<br><br>
Alternatively, you can stop tracking all products by
<a href="<%= product.allUnsubscribeLink %>">clicking here</a>.
