Hi,

<br><br>

Price of <a href="<%= product.selfProductRedirectURL %>"><%= product.productName %></a>
has <%= product.measure %> to <b>Rs.<%= product.currentPrice %>/-</b>
on <b><%= product.seller %></b>.

<br><br>

Last tracked price of this product was Rs.<%= product.oldPrice %>/-.

<br><br>

<b>Pssst. Help us get better! <a href="https://docs.google.com/forms/d/1tHUlLFdVTBCsN-D_p-ISXcnvDBhgyGR9QWHp7wi82eU/viewform?usp=send_form">Fill up this small questionnaire.</a></b> It won't take more than a minute. Pinky Promise! <b>There's a Reward inside too! :) </b>

<br><br>

<a href="<%= product.trackURL %>">View Price History</a> | <a href="<%= user.dashboardURL %>">Manage your alerts</a> | <a href="https://cheapass.in">Cheapass.in</a>

<br><br>

P.S. Have a question or suggestion? Hit Reply.
