Hi <%= email %>,

<p>
  I'm writing to inform you about the upcoming changes on Cheapass.
</p>

<p>
  W.E.F. 1st April 2017, Cheapass will be a paid service with a free tier.
</p>

<p>
  <strong>Cheapass Premium -</strong>
  <ul>
    <li>Track unlimited number of products.</li>
    <li>Prices tracked very frequently with a very high priority.</li>
    <li>Receive real-time push notifications on the companion Android and iOS apps.</li>
    <li>Access to historical data and graphs which show how the prices have been fluctuating.</li>
  </ul>
</p>

<p>
  <strong>Cheapass Basic -</strong>
  <ul>
    <li>You'd be able track a maximum of 3 products at any time. These alerts will be auto suspended after 14 days.</li>
    <li>Price drop alerts would be limited to Emails only. Push Notifications will be suspended.</li>
    <li>No access to price graphs which show you how the prices have been fluctuating.</li>
    <li>Prices would be tracked less frequently (which could lead to missed deals).</li>
  </ul>
</p>

<p>
  You are currently tracking <%= alerts %> products on Cheapass, which means your account will be downgraded to "Cheapass Basic".
</p>

<p>
  These changes are being brought in to ensure a fair quality of service to everyone using the platform.
</p>

<p>
  The premium version will cost Rs.<%= cost_premium %>/- for lifetime.
</p>

<p>
  However, As a token of gratitude for being an early adopter of the service, I'm extremely happy to offer you a <strong><%= percentDiscount %>% discount</strong>.
</p>

<p>
  <strong>Buy Cheapass Premium for Rs.<%= discounted_cost_premium %>/- by <a href="#">clicking here</a>.</strong>
</p>

<p>
  You can lock down this price today, and enjoy the premium Cheapass service forever.
</p>

<p>
  Once the premium tier goes public, you'll have to pay the full price to continue using the premium features.
</p>
